<h1>Students Details</h1>
<p><strong>Name:</strong> <%= @student.stu_name %></p>
<p><strong>Rollno:</strong><%= @student.rollno %></p>
<p><strong>Course:</strong> <%= @student.course %> </p>
<p><strong>Phone:</strong> <%= @student.phone %></p>
<%= link_to 'Edit',edit_student_path %> |
<%= link_to 'Delete', student_path , method: :delete, data: { confirm: "Are you sure?"}%> |
<%= link_to 'back to students listing', students_path %>