<nav class="navbar navbar-expand-lg bg-body-tertiary" id= "navlink">
  <div class="container-fluid">
    
    <%= link_to 'ALPHA BLOG', root_path , class:"navbar-brand", id:"logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Articles", articles_path , class: "nav-link" , id:"navlink"%>
        </li>
        <li class="nav-item" >
          <%= link_to "Bloggers", users_path , class: "nav-link" , id:"navlink"%>
        </li>
        <li class="nav-item" >
          <% if logged_in?%>
            <%= link_to "Create Article", new_article_path , class: "nav-link" , id:"navlink"%>
        </li>
        <li> 
          <div class="dropdown">
              <a class="dropdown-toggle nav-link", style="color: white;" data-bs-toggle="dropdown" >
                <%= "(Admin)" if current_user.admin? %> Profile [<%= current_user.username %>]
              </a>

              <ul class="dropdown-menu text-center " ,aria-labelledby="dropdownMenuLink" , style="background-color: #45d3dd;">
                 
                  <li><%= link_to "View profile", user_path(current_user) , class:'text-white text-decoration-none' %> </li>    
                  <li><%= link_to 'Edit profile', edit_user_path(current_user) , class:'text-white text-decoration-none' %> </li>
                   
              </ul>
          </div>
        </li>

          <li class="nav-item" >
            <%= button_to "Log out", logout_path , method: :delete , class: "nav-link btn btn-link" , id:"navlink" %>
          </li>
          <li><%= button_to 'Delete profile', user_path(current_user) ,method: :delete, data: {confirm: "Are you sure?"}, class:'nav-link btn btn-link text-danger' %> </li>
          <% else %>
            <li class="nav-item" >
              <%= link_to "Log in", login_path , class: "nav-link" , id:"navlink"%>
            </li>
            <li class="nav-item" >
              <%= link_to "Sign up", signup_path , class: "nav-link" , id:"navlink"%>
            </li>
            
          <% end %>
         
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


